{% extends 'music/basic.html' %}
{% block title %}<title>{{pageheading}}</title>{% endblock %}
{% block body %}
<div class="container d-flex justify-content-center mt-4">
            <div class="col-sm-12 col-md-6">
        <div class="text-center">
        <h2>{{ pageheading }}</h2>
           </div>
                
                	<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                    <div class="my-3">
                        <p>Artist <span class="text-danger"> *</span></p>
                        <input type="text" name="artist" class="form-control" value='{% if fill %}{{album.artist}}{% endif %}'>
                    </div>
                    {% for error in form.artist.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                       {{error}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                    {% endfor %}

                    <div class="my-3">
                        <p>Album Title <span class="text-danger"> *</span></p>
                        <input type="text" name="album_title" class="form-control" value='{% if fill %}{{album.album_title}}{% endif %}'>
                    </div>
                    {% for error in form.album_title.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                       {{error}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                    {% endfor %}

                    <div class="my-3">
                        <p>Album Genre <span class="text-danger"> *</span></p>
                        <input type="text" name="genre" class="form-control" value='{% if fill %}{{album.genre}}{% endif %}'>
                    </div>

                    {% for error in form.genre.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                       {{error}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                    {% endfor %}

                    <div class="my-3">
                        <p>Album Thumbnail <span class="text-danger"> *</span></p>
                    <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" >Upload</span>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" name="album_logo">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                   </div>
                   </div>
                    {% for error in form.album_logo.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                       {{error}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                    {% endfor %}
                    
                      <div class="form-group">
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="gridCheck" name='is_favorite' value='{% if fill %}{% if album.is_favorite %}1{% endif %}{% endif %}'>
                                  <label class="form-check-label" for="gridCheck">
                                    Is Favorite
                                  </label>
                                </div>
                      </div>
                         
                     	<div class="mt-3">
                     		<button type="submit" class="btn btn-success btn-block">{{ pageheading }}</button>
                     	</div>	

                	</form>

        </div>
   
</div>
{% endblock %}