<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="SolMusic HTML Template">
    <meta name="keywords" content="music, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
     {% load static %}
    <link href="{% static 'music/img/favicon.ico' %}" rel="shortcut icon"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'music/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'music/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'music/css/slicknav.min.css' %}" />

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="{% static 'music/css/style.css' %}" />

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
        <!-- Header section -->
    <header class="header-section clearfix">

        <a href="index.html" class="site-logo">
            <img src="{% static 'music/img/logo.png' %}" alt="">
        </a>
        <div class="header-right">
            <div class="user-panel">
                <a href="{% url 'music:login' %}" class="login">Login</a>
                <a href="{% url 'music:register' %}" class="register">Create an account</a>
            </div> 
        </div>
        <ul class="main-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#">Pages</a>
                <ul class="sub-menu">
                    <li><a href="">Category</a></li>
                    <li><a href="">Playlist</a></li>
                    <li><a href="">Artist</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </header>
    <!-- Header section end -->


{% block body %}{% endblock %}

    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 order-lg-2">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <h2>About us</h2>
                                <ul>
                                    <li><a href="">Our Story</a></li>
                                    <li><a href="">Sol Music Blog</a></li>
                                    <li><a href="">History</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <h2>Products</h2>
                                <ul>
                                    <li><a href="">Music</a></li>
                                    <li><a href="">Subscription</a></li>
                                    <li><a href="">Custom Music</a></li>
                                    <li><a href="">Footage</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <h2>Playlists</h2>
                                <ul>
                                    <li><a href="">Newsletter</a></li>
                                    <li><a href="">Careers</a></li>
                                    <li><a href="">Press</a></li>
                                    <li><a href="">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 order-lg-1">
                    <img src="{% static 'music/img/logo.png' %}" alt="">
                    <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</div>
                    <div class="social-links">
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-pinterest"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    
    <!--====== Javascripts & Jquery ======-->

    <script src="{% static 'music/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'music/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'music/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'music/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'music/js/mixitup.min.js' %}"></script>
    <script src="{% static 'music/js/main.js' %}"></script>

    </body>
</html>
