{% extends 'music/basic.html' %}
{% block title %}<title>Detail</title>{% endblock %}
{% block body %}
<div class="row m-4">
    <div class="col-md-4 p-4">
        <div class="card">
            <img class="card-img-top" src="{{album.album_logo.url}}" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">{{ album.album_title }}</h3>
                <p class="card-text">{{album.artist}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <a href="{% url 'music:detail' album.id %}" class="btn btn-primary">View All</a>
        <a href="{% url 'music:add-song' album.id%}" class="btn btn-outline-primary">Add New Song</a>
        {% if album.song_set.count %}
        <div class="row bg-white p-4 mt-3">
            <h2>All Songs</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Audio File</th>
                        <th scope="col">Favorite</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in album.song_set.all %}
                    <tr>
                        <td>{{song.song_title}}</td>
                        <td scope="col"><button class="btn btn-success"><i class="fas fa-play"></i>&nbsp; Play</button></td>
                        <td scope="col">wait...</td>
                        <td scope="col"><button class="btn btn-danger"><i class="fas fa-trash"></i>&nbsp; Delete</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="row bg-white p-4 mt-3">
            <h6>You have not added any song yet, to add a new song click the above button</h6>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}