{% extends 'music/basic.html' %}
{% block title %}<title>Start</title>{% endblock %}
{% block body %}
{%if all_albums %}
<ul>
    {% for album in all_albums %}
    <li>
        <!--           instead  of using hardcordedurls we are using dynamic url so that in future if we change than it will be easier for us-->
        <!--          so to do that we are using the name variable of that url pattern -->
        <a href="{% url 'music:detail' album.id %}">
            {{ album.album_title }}
        </a>
    </li>
    {%endfor%}
</ul>
{% else %}
<h3>You Don't Have Any Album Yet</h3>
{% endif %}
{% endblock %}