{% extends 'music/base-start.html' %}
{% block title %}Login{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">

                <div class="text-center">
                    <h3 id="form-title">Login to MuuKit</h3>
                </div>
                 <!-- flash message for user account from signup page -->
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <strong>Oops!</strong>
                       {{message}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                {% endfor %}
                <div>
                    
                    <form method="POST" action="">
                        {% csrf_token %}

                        <div class="input-group my-4">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="username" placeholder="Username..." class="form-control">
                        </div>

                        <div class="input-group my-4">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" placeholder="Password..." class="form-control">
                        </div>

                        <div class="my-4">
                            <input class="btn btn-success btn-block" type="submit" value="Login">
                        </div>

                    </form>

                </div>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links border border-secondary p-2">
                        Don't have an account? <a href="{% url 'music:register' %}" class="ml-2">Sign Up</a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}